.story, .mission {
    max-width: 700px;
    margin: 50px auto;
    text-align: center;
    padding: 30px 20px;
    background: #fff4e6;
    border-radius: 20px;
    margin-top: 20px;
}

.divider {
    text-align: center;
    font-size: 1.5rem;
    margin: 25px 0;
}

.team-container {
    text-align: center;
    padding: 40px 0;
   

}
.team-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;}

.team-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.pretty-line {
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, transparent, #f9b88a, transparent);
  margin: 20px 0;
}

.team-card {
    width: 200px;
    background: #fff4e6;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.team-card img {
    width: 100%;
    border-radius: 15px;
}
