.cards-container {
    padding: 10px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card{
    padding: 5px 0px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}
